<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.store.dao.OrderDao" >
	
	<resultMap type="java.util.HashMap" id="itemMap">
		<id column="itemid" property="itemid" />
		<result column="quantity" property="quantity" />
		<result column="total" property="total" />
		<association property="order" column="oid" select="com.store.OrderDao.findOrderByOid"></association>
		<association property="product" column="pid" select="com.store.ProductDao.findProductByPid" ></association>
	</resultMap>
	
	<insert id="saveOrder" parameterType="Order">
		INSERT INTO orders(oid,ordertime,total,state,address,name,telephone,uid)
			 VALUES(#{oid},#{ordertime},#{total},#{state},#{address},#{name},#{telephone},#{user.uid});
	</insert>
	
	<select id="getTotalRecords" parameterType="User" resultType="java.lang.Integer" >
		select count(*) from orders where uid=#{uid}
	</select>
	
	<insert id="saveOrderItem" parameterType="OrderItem">
		insert into orderitem(itemid, quantity, total, pid, oid) values(#{itemid}, #{quantity}, #{total}, #{product.pid}, #{order.oid})
	</insert>
	
	<select id="findMyOrdersWithPage" resultType="Order" >
		select * from orders where uid=#{u.uid} order by ordertime desc limit #{b}, #{p}
	</select>
	
	<select id="findOrderByOid" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from orderitem o,product p where o.pid=p.pid and oid=#{oid} 
	</select>
	
	<select id="getOrder" resultType="Order">
		select * from orders where oid=#{oid}
	</select>
	
	<update id="updateOrder" parameterType="Order" >
		UPDATE orders SET state=3,address=#{address},NAME=#{name},telephone=#{telephone} WHERE oid=#{oid}
	</update>
	
	<select id="findAllOrders" resultType="Order">
		select * from orders
	</select>
	
	<select id="findAllOrdersByState" resultType="Order" parameterType="java.lang.Integer">
		select * from orders where state=#{state}
	</select>
</mapper>
